html{
  font-size: 10px;
}

body{

}

h2{
  font-family: "Champagne & Limousines";
  font-size: 3rem;
  text-align: center;
  text-indent: 0rem;
  margin-bottom: 2rem;
  color: #8B8100;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.container {
}

.navbar{
  background-image: url("../images/mobile-header-rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10.4rem;
  margin-left: 0px;
  margin-right: 0px;
  background-position: bottom center;
}

.navigation{
  float: right;
}

.navigation p{
  display: inline-flex;
  font-family: "WellrockSlab";
  font-size: 1.5rem;
  margin-left: 0rem;
  margin-top: 4.6rem;
  text-align: right;
}

.navigation a{
  color: #8B8100;
  text-decoration: none;
}

.about{
  margin-right: 1.5rem;
}

.projects{
  margin-right: 1.5rem;
}

.connect{
  margin-right: 2.5rem;
}

.personal-logo{
  margin-left: 3.8rem;
  padding-top: 2rem;
}

.personal-logo img{
  width: 15%;
  float: left;
}
/* .navbar{
  background-image: url("../images/mobile-header-rectangle.png");
  height: 104px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.navigation{
  color: #8B8100;
  text-align: right;
  display: inline-flex;
  float: right;
  margin-top: 53px;
  font-size: 1.8rem;
  font-family: "WellrockSlab";
  margin-left: 0rem;
}

.about{
  margin-right: 2rem;
}

.projects{
  margin-right: 2rem;
}

.connect{
  margin-right: 3rem;
}

.personal-logo {
  padding-top: 2rem;
  margin-left: 3.8rem;
  width: 30%;
} */

.hero{
  background-image: url("../images/mobile-arrow.png");
  background-size: cover;
  background-position: bottom center;
  color: #8B8100;
  font-family: "Champagne & Limousines";
  padding-bottom: 28rem;

}

.hero h1{
  padding-top: 7.1rem;
  float: left;
  width: 60%;
  font-size: 4.5rem;
  margin-left: 8%;
}

hr {
  width: 17rem;
  float: left;
  margin-top: auto;
  margin-left: 8%;
}

.hero img{
  float: right;
  margin-left: 1%;
  padding-top: 5.1rem;
  position: absolute;
  width: 22%;
}

.hero button {
  color: #ffffff;
  margin-top: 5rem;
  clear: left;
  float: left;
  margin-left: 10%;
  font-family: "WellrockSlab";
  font-size: 1.8rem;
  background-color: #9486B5;
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.bio{
  font-family: "WellrockSlab";
  font-size: 1.6rem;
  line-height: 3rem;
  margin-top: 5rem;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 5rem;
}

/* Footer */
footer{
  background-image: url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.footer-icons {
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
}


.footer-icons h2{
  display: none;
}

#footer-connect h2{
  color: #9486B5;
  font-family: "Champagne & Limousines";
  font-size: 3rem;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 2rem;
  letter-spacing: .35rem;
}


.linkedin, .twitter, .email, .github {
  width: 3rem;
  padding: 6%;
}

.designed h5{
  font-size: 1.3rem;
  color: #fff;
  letter-spacing: .1rem;
  font-family: "WellrockSlab";
  /* text-align: center; */
  padding-top: 4%;
  text-align: center;
  padding-bottom: 5%;
}


@media screen and (min-width: 480px) {
  .navigation{
    color: #8B8100;
    text-align: right;
    font-size: 1.8rem;
    display: inline-flex;
  }

  .about{
    padding-right: 1.5rem;
  }

  .projects{
    padding-right: 1.5rem;

  }

  .connect{
    padding-right: 2rem;
  }


  .personal-logo{
    padding-top: 2rem;
    margin-left: 7.5rem;
    width: 37%;
  }

  .personal-logo img{
    width: 30%;
  }

  hr{
    width: 16.5rem;
  }

  .navbar {
    background-image: url("../images/header-background.png");
    background-size: cover;
    height: 10.4rem;
    width: 100%;
  }

  #footer-connect h2{
    font-size: 4.5rem;
    font-weight: bold;
  }
}



@media screen and (min-width: 580px) {

  .personal-logo img{
    padding-top: 1rem;
  }

  .personal-logo{
    padding-top: 0rem;
  }

  hr {
    width: 16rem;
  }

  .hero img{
    margin-left: 0%;
    width: 25%;
  }

  .footer-connect h2{
    font-size: 4.5rem;
  }

}






@media screen and (min-width: 680px) {

  html{
    font-size: 10px;
  }

  h2{
    font-size: 4rem;
  }

  .navigation p{
    font-size: 1.8rem;
  }

  .personal-logo img{
    width: 25%;
  }

  .hero h1{
    width: 45%;
    margin-right: 0rem;
    padding-right: 0rem;
    font-size: 5.5rem;
  }

  hr {
    width: 21rem;
    margin-top: 13rem;
    position: absolute;
  }

  .hero img{
    margin-left: 0rem;
    margin-right: 5rem;
    position: relative;
    width: 25%;
  }

  .hero button{
    margin-top: 5rem;
  }
}


@media screen and (min-width: 780px) {
  .personal-logo img{
    width: 20%;
  }

  .hero{
    padding-bottom: 40rem;
  }

  .hero h1{
    padding-top: 10rem;
    margin-left: 10%;
    font-size: 6rem;
    padding-right: 0rem;
    width: 45%;
  }

  .hero img{
    padding-top: 8%;
    width: 24%;
    margin-left: 5%;
    margin-right: 12%;

  }

  hr{
    margin-left: 10%;
    width: 22rem;
    margin-top: 16rem;
  }

  .hero button{
    font-size: 2rem;
    margin-left: 12%;
    margin-top: 6rem;
  }


  #footer-connect h2{
    font-size: 6rem;
    padding-top: 7rem;
  }

  .footer-icons{
    margin-left: 30%;
    margin-right: 30%;
  }

  .linkedin, .twitter, .email, .github {
    width: 40%;
    padding: 0 10%;
    margin: none;
  }

  .designed h5{
    font-size: 2rem;
  }

@media screen and (min-width: 900px;){
  .hero img{
    padding-top: 6%;
  }
}


@media screen and (min-width: 991px){
  html{
    font-size: 17px;
  }

  h2{
    font-size: 3rem;
  }

  .navbar{
    height: 104px;
  }

  .navigation p{
    font-size: 1.3rem;
    margin-top: 2.4rem;
  }

  .personal-logo{
    width: 30%;
    margin-top: 0px;
    padding-top: 0rem;
  }

  .hero{
  padding-bottom: 25rem;
  }

  .hero h1{
    font-size: 5rem;
    padding-top: 5rem;
    padding-left: .2rem;
    margin-left: 10%;
    margin-right: 0rem;
    padding-right: 0rem;
  }

  .hero img{
    margin-top: 1%;
    width: 20%;
    margin-right: 0rem;
    padding-right: 12.5%;
    margin-left: 0rem;
  }

  hr{
    margin-top: 10rem;
    width: 19rem;
    margin-left: 10%;
  }

  .hero button{
    font-size: 1.5rem;
    margin-top: 5rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    margin-left: 12.5%;
  }

  .bio{
    font-size: 1.2rem;
    line-height: 2.1rem;
    margin-bottom: 3rem;
    margin-left: 12.5%;
    margin-right: 12.5%;
  }

  footer{
      clear: both;
  }

  #footer-connect h2{
    font-size: 4rem;
    font-weight: normal;
    padding-top: 7rem;
    letter-spacing: .2rem
  }

  .footer-icons {
    margin-right: 25%;
    margin-left: 27%;
    display: flex;
    justify-content: space-between;
  }

  .footer-icons img {
    width: 60%;
  }

  .designed h5{
    font-size: 1.3rem;
    color: #fff;
    letter-spacing: .1rem;
    font-family: "WellrockSlab";
    text-align: center;
    padding-bottom: 2rem;
  }
}


@media screen and (min-width: 1150px){

  .personal-logo{
    /* padding-top: 1%; */
  }
  .personal-logo img {
    width: 17%;
    padding-top: 3.5%;
  }

  .about{
    /* padding-left: 1%; */
    margin-right: 1.5rem;
  }
  .projects{
    margin-right: 1.5rem;
  }
  .connect {
    margin-right: 1.5rem;
  }
  .hero img {
    width: 17%;
    padding-top: 4rem;
  }
}


@media screen and (min-width: 1200px){

  .hero img{
    padding-top: 3%;
  }


}

@media screen and (min-width: 1380px){
  .hero h1 {
    margin-left: 0rem;
    padding-left: 0rem;
  }
}


@media screen and (min-width: 1500px){
  .hero{
    padding-bottom: 70rem;
    padding-top: 6rem;
  }
  .hero img{
    padding-top: 4.5%;
  }

  .footer-connect h2{
    padding-top: 15rem;
  }

  .footer-icons{
    margin-left: 40%;
      margin-right: 40%;
  }
}
