* {
  box-sizing: border-box;
}
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
}

@font-face {
  font-family: "Tajawal";
  src: url("Tajawal.ttf");
}

@font-face {
  font-family: "TajawalBold";
  src: url("TajawalBold.ttf");
}

@font-face {
  font-family: "Neoteric", Helvetica, Trebuchet;
  src: url("Neoteric.ttf");
}

@font-face {
  font-family: "LucidaSans", Arial, sans-serif;
  src: url("LucidaSans.ttf");
}

h1{
  color: #766FC8;
  font-family: "Tajawal", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  margin: 4rem 10% 1rem 10%;
  text-align: left;
  /* text-transform: uppercase; */
}

h2 {
  color: #1F1F1F;
  font-family:"Tajawal", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  margin: 5rem 10% 1.5rem 10%;
  /* text-transform: uppercase; */
}

h3 {
  font-family: "Tajawal", Trebuchet, Garamond, sans-serif;
  font-size: 3rem;
  margin: auto 10%;
}

h4{
  margin: auto 10%;
}

p {
  color: #2a2a2a;
  font-family: Helvetica, Arial;
  font-size: 1.7rem;
  line-height: 160%;
  margin: auto 10%;
}

a {
  color: #5a52b3;
  font-family: Helvetica, Arial;
  font-weight: bold;
  text-decoration: none;
}

br {
  line-height: .2rem;
}

/*  Nav Bar */

.navbar{
  background-color: rgba(255, 255, 255, .3);
  background-size: cover;
  height: 8.4rem;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0rem;
  width: 100%;
}

.navigation{
  display: inline-flex;
  float: right;
}

.navigation p{
  font-size: 1.4rem;
  margin-left: 0rem;
  margin-top: 3rem;
  text-align: right;
}

.navigation a{
  color: #553fa2;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  opacity: 1;
  text-decoration: none;
  transition: color .5s ease;
}

.navigation a:hover{
  color: #E0625E;
  transition: color .3s ease;
}

.back-top{
  margin-top: 1.5rem;
  text-align: right;
  vertical-align: top;
}

.back-top a{
  color: #6C6C6C;
  font-size: 1.3rem;
  margin-top: 3rem;
  text-align: right;
  vertical-align: top;
}

.about{
  margin-left: 0rem;
  margin-right: 1rem;
  padding-left: 0rem;
}

.projects{
  margin-right: 1rem;
}

.resume{
  margin-right: 1rem;
}

.connect a{
  margin-right: 2rem;
  transition: color 1.2s ease;
}

.personal-logo{
  margin-bottom: 2.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  position: absolute;
  width: 3rem;
}

.selected a{
  font-weight: bold;
  color: #E0625E;
  /* text-decoration: underline; */
}

ul{
  color: #6C6C6C;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  margin: auto;
  /* margin-left: 8rem; */
  width: 93%;
  list-style-type: none;
}

ul p{
  color: #2a2a2a;
  font-family: Helvetica, Arial;
  font-size: 1.7rem;
  /* font-weight: bold; */
  line-height: 2rem;
  /* margin-left: 1%; */
  margin-bottom: 1rem;
}

footer{
  background-color: #D5CECA;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  margin: 2rem 25%;
}

#footer-connect h2{
  color: #553fa2;
  font-family: "Tajawal";
  font-size: 3.7rem;
  margin-top: 0rem;
  padding-top: 3rem;
  text-align: center;
}


.linkedin, .twitter, .email, .github {
  width: 3rem;
}

.designed h4{
  color: #2a2a2a;
  font-family: "Tajawal";
  font-size: 1.3rem;
  letter-spacing: .1rem;
  padding-bottom: 4%;
  text-align: center;
}







/* Home Page */
.hero-wrapper{
  background-image: url("../images/mobile-home-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero{
  height: 36rem;
  padding: 0rem 8% 15% 3%;
  width: 100%;
}

.hero h3 {
  color: #8B8100;
  font-family: "Tajawal";
  font-size: 2rem;
  /* font-weight: bold; */
  letter-spacing: .3rem;
  margin-bottom: .5rem;
  margin-left: 1rem;
  padding-top: 6rem;
  text-transform: uppercase;
}

.hero h1{
  color: #553fa2;
  font-size: 3.7rem;
  font-weight: bold;
  margin: 3rem 0rem 3rem 1rem;
  padding-right: 0rem;
}

.hero p {
  color: #4C4C4C;
  font-family: Helvetica;
  font-size: 1.5rem;
  /* font-weight: bold; */
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 8rem;
  max-width: 40rem;
}

/* Bouncing Arrow */

.bounce {
  animation: bounce 3s infinite;
  color: #2A2A2A;
  display: flex;
  justify-content: center;
  margin-top: -3rem;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
/* End Bouncing Arrow */


#featured-project {
  background-color: #2a2a2a;
  margin-bottom: 0rem;
}

.my-work{
  display: none;
}



/* Home page trunk overlay */

.h2-desktop, .p-desktop, .case-study-button{
  display: none;
}

h2.h2-mobile{
  color: #766FC8;
  font-family: "Tajawal";
  font-size: 6rem;
  font-weight: normal;
  padding-bottom: 0rem;
  padding-top: 20%;
  margin: 0rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

p.p-mobile{
  text-align: center;
  color: #fff;
  display: flex;
  font-size: 2.2rem;
  font-weight: lighter;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.hoverbox-text p{
  color: #fff;
  font-family: Helvetica;
  font-size: 2.7rem;
  letter-spacing: .2rem;
  line-height: 3rem;
  margin: 1.5rem 0rem;
  padding-bottom: 1rem;
  text-align: center;

  width: 100%;
}

.mobile-case-study-button{
  background-color: #2a2a2a;
  border: #B6ECF8 solid 1.5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 3rem auto 1rem auto;
  max-width: 20rem;
  min-width: 17rem;
  width: 50%;
}

.mobile-case-study-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.mobile-case-study-button h2{
  align-items: center;
  color: #B6ECF8;
  /* display: flex; */
  justify-content: center;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  margin: 0rem;
  padding: 1.5rem 1rem 1rem 1rem;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

.hoverbox {
	display: inline-block;
  height: auto;
	overflow: hidden;
  position: relative;
	width: 100%;
}

.hoverbox img {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  width: 90%;
}


/* End home page trunk overlay */

/* End Home Page */








/* Case Study */

.case-study-wrapper{
  /* background-image: url("../images/mobile-trunk-background.png"); */
  /* background-position: top right;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #EBE4E0;
}

#trunk-summary {
    padding: 2rem 10% 2% 10%;
    width: 100%;
  }


.trunk-pic {
    display: flex;
    justify-content: center;
    margin: 3rem auto 3rem auto;
    max-width: 60rem;
    width: 100%;
  }


section.trunk-title h1{
  color: #8B8100;
  font-size: 7rem;
  font-weight: bold;
  margin: 0rem auto 1rem auto;
  padding-top: 6rem;
  text-align: center;
}

section.trunk-title h2{
  color: #2a2a2a;
  text-align: center;
  font-size: 2.8rem;
  /* font-weight: bold; */
  margin-top: 2rem;
}

.prototype-button{
  background: #E0625E;
  border-color: #E0625E;
  border-radius: 20px;
  border-style: solid;
  border-width: 1.5px;
  margin: 5rem auto 2rem auto;
  max-width: 25rem;
  opacity: 1;
  transition: background .4s ease;
  width: 60%;
}

.prototype-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.summary{
  padding-top: 8%;
}

#mockups .prototype-button h2, .summary .prototype-button h2{
  color: #2a2a2a;
  font-family: Helvetica;
  font-size: 1.7rem;
  font-weight: normal;
  letter-spacing: .1rem;
  text-decoration: none;
  text-align: center;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0rem;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 3fr 3fr 1fr 1fr 3fr 3fr 3fr 1fr 1fr;
  grid-template-rows: 5fr 1fr 5fr 1fr 5fr;
  margin-top: 5rem;
}

#research1, #research2, #research3, #research4, #research5, #research6{
  background-color: #2a2a2a;
  border-radius: 110px;
  font-family: "Tajawal";
  max-width: 15rem;
  min-width: 14rem;
  margin: auto;
  padding: 3rem 1.5rem;
}

div#research1{
  grid-column: 3/6;
}

div#research2{
  grid-column: 8/12;
}

div#research3{
  grid-row: 3/4;
  grid-column: 3/6;
}

div#research4{
  grid-row: 3/4;
  grid-column: 8/12;
}

div#research5{
  grid-row: 5/6;
  grid-column: 3/6;
}

div#research6{
  grid-row: 5/6;
  grid-column: 8/12;
}

  /* .grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 5fr 1fr 5fr;
  }

  div#research1{
    display: grid;
    background-color: #2a2a2a;
    grid-column: 3/5;
  }

  div#research2{
    background-color: #2a2a2a;
    display: grid;
    grid-column: 5/7;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  div#research3{
    background-color: #2a2a2a;

    grid-column: 7/9;
  }

  div#research4{
    background-color: #2a2a2a;

    grid-row-start: 3;
    grid-column: 4/6
  }

  div#research5{
    background-color: #2a2a2a;

    grid-row-start: 3;
    grid-column: 6/8
  } */

.user-flows-image{
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  max-width: 40rem;
  width: 100%;
}

img.wireframes1{
  display: none;
}

.trunk-mockups{
  margin-top: 5rem;
  width: 100%;
}

.summary {
  background-color: #2a2a2a;
}

.summary p {
  color: #fff;
  font-weight: normal;
}

.summary a{
  color: #766FC8;
}

.summary .back-top a{
  color: #6C6C6C;
  font-size: 1.3rem;
  margin-top: 1rem;
  text-align: right;
  vertical-align: top;
}

.summary a:hover, #research a:hover, .competitive-analysis a:hover,
#user-personas a:hover, #user-stories-and-flows a:hover,
#wireframes-and-usability-tests a:hover, #branding a:hover,
#mockups a:hover{
  color: #E0625E;
  transition: color .5s ease;
}

.summary h1{
  clear: right;
  margin-top: 0rem;
  padding-top: 3rem;
  text-align: center;
}

.summary h2{
  color: #B6ECF8;
  margin-top: 5rem;
}

section.solution p{
  padding-bottom: 2rem;
}

.process h1{
  text-align: center;
}


table.stats-table, table.usability-table{
  display: flex;
  margin: 1rem 11%;
}

td{
  padding: 1rem;
  vertical-align: middle;
}

.percent {
  color: #B6ECF8;
  font-family: "Tajawal";
  font-size: 3rem;
  margin: 0rem;
  text-align: center;
}

.stats{
  color: #fff;
  font-family: "Tajawal";
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: 140%;
  margin: 0rem;

  text-align: center;
}

.usability-percent{
  color: #8B8100;
  font-family: "Tajawal";
  font-size: 4rem;
  text-align: center;
}

.usability-stats{
  color: #2a2a2a;
  font-family: "Tajawal";
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 140%;
}

.competitive p{
  margin-bottom: 4rem;
}

.competitor-icons{
  display: inline-flex;
  justify-content: center;
  justify-content: space-around;
  padding-left: 15%;
  padding-right: 15%;
  margin: 3rem auto 1rem auto;
  width: 100%;

}

.google-drive, .dropbox{
  height: 20%;
  max-width: 12rem;
  width: 30%;
}

.competitive-analysis li{
  color: #6C6C6C;
  font-family: "Tajawal";
  font-size: 2rem;
  font-weight: bold;
  margin-left: 13%;
  padding: .2rem;
}

.strengths-weaknesses, .tablet-strengths-weaknesses {
  display: none;
}

.mobile-strengths-weaknesses{
  display: flex;
  justify-content: center;
  width: 100%;
}

h3.mobile-strengths-weaknesses{
  color: #8B8100;
  display: flex;
  font-size: 4rem;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.mobile-strengths-weaknesses p{
  color: #6C6C6C;
  font-family: "Tajawal";
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.2rem;
  text-align: center;
}

.mobile-strengths-weaknesses td{
  padding: .5rem;
}

#user-personas h2{
  display:inline-flex;
}

.user-personas-lily-robert{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
  grid-auto-rows: 1fr 1fr;
}

.user-personas-lily-robert img{
  display: flex;
  justify-content: center;
  margin: auto;
  grid-column: 2/5;
  max-width: 15rem;
  min-width: 10rem;
  width: 40%;
}

.user-persona-robert{
  grid-column:2/5;
  grid-row: 1/2;
}

.user-persona-lily{
  grid-column: 2/5;
  grid-row: 2/3;
}

#user-personas h2.h2-user-personas{
  display: block;
  font-size: 3.5rem;
  margin: 4rem auto 0rem auto;
  text-align: center;
}

h3.h3-user-personas{
  display: block;
  font-size: 2.5rem;
  margin: 3rem auto 1rem auto;
  text-align: left;
}

h3.h3-user-personas-title{
  display: block;
  font-size: 2.5rem;
  margin: 1rem auto 0rem auto;
  text-align: center;
}

.p-user-personas-bio{
  font-size: 1.5rem;
  text-align: center;
}

.p-user-personas{
  display: block;
  font-size: 1.7rem;
  margin: 1rem auto;
}

#wireframes-and-usability-tests h3{
  color: #8B8100;
  font-family:"Tajawal";
  font-size: 2rem;
  font-weight: bold;
  margin: 4rem 12.5% 2rem 12.5%;
}

#branding img{
  /* margin: 2rem 17.5% 2rem 17.5%; */
  /* width: 65%; */
}

.bw-trunk-logo img, .bw-trunk-logos2 img{
  margin: 0rem 25% auto 25%;
  width: 50%;
}

.trunk-logos{
  display: grid;
  grid-template-columns: 6fr 3fr;
  grid-template-rows: .95fr .95fr 1fr 1fr;
  margin: 5rem auto 5rem auto;
  max-width: 60rem;
  width: 100%;
}

.trunk-logos img{
  margin: 0rem;
  width: 100%;
}

img.sketches{
  display: grid;
  grid-column: 1/2;
  grid-row: 1/8;
}

.bw-trunk-logo{
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
}

.bw-trunk-logo2{
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
}

img.white-trunk-logos{
  display: grid;
  grid-column: 2/3;
  grid-row: 3/4;
}

img.black-trunk-logos{
  display: grid;
  grid-column: 2/3;
  grid-row: 4/5;
  margin-top: 3%;
  /* margin: 0rem; */
}


/* img.white-trunk-logos{
  margin-top: 5rem;
} */

.trunk-typography, .trunk-colors{
  display: flex;
  justify-content: center;
  margin: 4rem auto;
  max-width: 50rem;
  width: 100%;
}

h2.results{
  color: #2a2a2a;
  font-size: 3rem;
  margin-left: 10%;
  margin-top: 4rem;
  padding-bottom: 1rem;
}

.original-file, .sign-up-process{
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  width: 90%;
}

.wireframes2, .wireframe-sketches{
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  max-width: 35rem;
  width: 80%;
}

.original-folder{
  display: flex;
  justify-content: center;
  margin: 3rem auto 5rem auto;
  width: 90%;
}

img.mobile-trunk-mockups{
  display: flex;
  margin: auto;
  margin-top: 5rem;
  width: 100%;
}


.conclusion {
  margin-bottom: 5rem;
}

/* End Case Study */




/*  About Me */

section.about-wrapper{
  background-color: #EBE4E0;
  height: 20%;
}

.hero-about-wrapper{
  width: 100%;
  /* height: 20rem; */
}

.about-me-photo {
  display: none;
}

img.mobile-about-me-photo {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 40rem;
  padding-bottom: 5rem;
  padding-top: 3rem;
}

.hero-about-wrapper h1, h1.hero-about-h1{
  color: #2a2a2a;
  display: flex;
  justify-content: left;
  font-size: 4rem;
  font-family: "Tajawal", Helvetica, sans-serif;
  /* font-weight: bold; */
  letter-spacing: .3rem;
  margin-left: 10%;
  margin-top: 0rem;
  padding-top: 5rem;
}

.hero-about-wrapper .hero-about-hey{
  font-size: 2.8rem;
}

h1.hero-about-h1{
  padding-top: .5rem;
}

.about-name{
  /* color: #E0625E; */
  font-family: "Tajawal";
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  color:#000;
  font-weight: bold;
  -webkit-animation:colorchange 4s ease infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    color: #29349B;
  }
  5% {
    color: #29349B;
  }

  30% {

    color: #766FC8;
  }

  60% {

    color: #572676;
  }

  100%{
    color: #A72C67;
  }
}

.bio-about {
  background-color: #2a2a2a;
  padding-bottom: 4rem;
}

.bio-about h2, .work-together h2{
  color: #B6ECF8;
  font-size: 3.2rem;
  margin-bottom: 2rem;
  margin-top: 0rem;
  padding-top: 5rem;
}

.bio-about p{
  color: #fff;
  font-size: 1.6rem;
  font-weight: lighter;
  margin-bottom: 0rem;
}

.bio-emphasis{
  color: #fff;
  font-weight: bold;
}

.bio-about a{
  color: #766FC8;
}



/* End About Me */






/* @media screen and (min-width: 400px){

  .hero h3{
    font-size: 2.5rem;
  }

  .hero h1{
    font-size: 4.5rem;
  }

  .hero p{
    font-size: 1.6rem;
  }

  .connect a{
    background-color: #634db3;
    border-radius: 20px;
    color: #fff;
    line-height: 2rem;
    margin-right: 2rem;
    padding: .5rem 1rem;
    transition: background .3s ease-out;
  }

  .connect a:hover{
    background-color: #E0625E;
    color: #fff;
    transition: background .3s ease-out;
  }

  .about-wrapper{
    background-image: url("../images/about-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }

  .hero-about{
      padding: 0rem 10% 15% 1%;
      width: 100%;
    }

  .hero-about{
    padding-bottom: 15rem;
    padding-top: 5rem;
  }

  .hero-about h1{
    color: #634db3;
    font-size: 5rem;
    margin-left: 3rem;
    margin-top: 1rem;
  }
} */



/* @media screen and (min-width: 480px){

  .personal-logo img{
    margin-top: 1.3rem;
    width: 3.3rem;
  }

  .navigation p{
    margin-top: 2.5rem;
  }

  .connect{
    margin-right: 2rem;
  }

  .footer-icons {
    margin-left: 25%;
    margin-right: 25%;
  }

  #footer-connect h2{
    font-size: 4rem;
  }

  .linkedin, .twitter, .email, .github {
    width: 3rem;
  }

  .bounce{
    margin-top: -2rem;
  }

  h2.h2-mobile{
    font-size: 6.5rem;
  }

  .hoverbox-text p{
    font-size: 2.7rem;
    width: 100%;
  }

  .mobile-case-study-button h2{
    font-size: 1.8rem;
  }

  .hoverbox img {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  .prototype-button h2{
    font-size: 2.6rem;
    padding: 2rem;
  }

  td.percent{
    font-size: 3rem;
  }

  td.stats{
    font-size: 1.7rem;
  }

  #wireframes-and-usability-tests h3{
    font-size: 2.5rem;
    margin: 7rem 5rem 5rem 5rem;
  }

  #wireframes-and-usability-tests img{
    margin-left: 17.5%;
    margin-right: 17.5%;
    width: 65%;
  }

  .trunk h3{
    font-size: 2.8rem;
  }

  .trunk, .trunk-image{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  .hero-about button{
    margin-left: 15%;
  }

  .hero-about h1{
    margin-left: 2.5rem;
  }

  .hero-about button {
    margin-left: 2rem
  }

  .about-wrapper{
    height: 30rem;
  }
} */






@media screen and (min-width: 575px){

  h1{
    font-size: 5rem;
    margin: 6rem 12.5% 1rem 12.5%;
  }

  h2 {
    font-size: 3.5rem;
    margin: 6rem 12.5% 1rem 12.5%;

  }

  h3 {
    font-size: 4rem;
    margin: auto 12.5%;
  }

  h4{
    margin: auto 12.5%;
  }

  p {
    font-size: 2rem;
    margin: auto 12.5%;
  }

  .navigation p{
    font-size: 1.7rem;
    margin-top: 2.8rem;
    margin-right: 1.3rem;
  }

  .personal-logo img{
    margin-top: .8rem;
    margin-bottom: 2.7rem;
    width: 3.8rem;
  }

  .connect{
    margin-right: 2rem;
  }

  .linkedin, .twitter, .email, .github {
    width: 3.5rem;
  }

  .footer-icons{
    margin: 2rem 30%;
  }

  .designed h4{
    font-size: 1.7rem;
  }

  #trunk-summary h2{
    margin-top: 2rem;
  }

  section.trunk-title h1{
    font-size: 6rem;
  }

  .trunk-title h2{
    font-size: 3rem;
    margin-top: 2rem;
  }

  td.stats{
    font-size: 2.2rem;
  }

  ul{
    margin-left: 14rem;
    width: 70%;
  }

  ul p{
    font-size: 2.2rem;
    line-height: 2.3rem;
    margin-left: 1%;
    margin-bottom: 1rem;
  }


  .hero-wrapper{
    background-image:url("../images/home-background-coffee.png");
  }

  .hero{
    height: 50rem;
  }

  .hero h3{
    font-size: 3rem;
    padding-top: 10rem;
  }

  .hero h1{
    font-size: 6rem;
  }

  .hero p{
    font-size: 1.8rem;
    max-width: 55rem;
    width: 70%;
  }

  .bounce{
    margin-top: -1rem;
  }

  h2.h2-mobile{
    display: flex;
    font-size: 6rem;
    justify-content: center;
    letter-spacing: .2rem;
    margin: 1rem auto;
    color: #766FC8;
    }

  .mobile-case-study-button{
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    /* margin-bottom: 5rem; */
    width: 40%;
    max-width: 25rem;
  }

  .mobile-case-study-button h2{
    font-size: 1.7rem;
  }

  table.strengths-weaknesses, .mobile-strengths-weaknesses{
    display: none;
  }

  .tablet-strengths-weaknesses{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  h3.strengths-weaknesses{
    color: #8B8100;
    display: flex;
    font-size: 4rem;
    justify-content: center;
    margin: 3rem auto 1rem auto;
  }

  .tablet-strengths-weaknesses p{
    color: #6C6C6C;
    font-family: "Tajawal";
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.2rem;
    text-align: center;
  }

  .tablet-strengths-weaknesses td{
    padding: .5rem;
  }

  .hoverbox img {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    max-width: 60rem;
    margin-bottom: 5rem;
  }

  h2.results{
    margin-left: 12.5%;
  }

  table.usability-table{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }

  .usability-stats{
    font-size: 2.2rem;
    font-weight: normal;
  }

  #wireframes-and-usability-tests img{
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 75%;
  }

  #wireframes-and-usability-tests .wireframes2, #wireframes-and-usability-tests .wireframe-sketches{
    display: flex;
    justify-content: center;
    margin: 4rem auto;
    max-width: 40rem;
    width: 70%;
  }

  img.original-file, img.original-folder{
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    max-width: 55rem;
    width: 80%;
  }

  .trunk-image, .trunk{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .trunk h2{
    font-size: 6rem;
  }

  .trunk h3{
    font-size: 2.8rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .competitive-analysis li{
    margin-left: 15%;
    padding: .5rem;
  }

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 3fr 1fr 3fr 3fr 1fr 3fr 3fr 1fr 1fr;
    grid-template-rows: 5fr 1fr 5fr;
    margin: auto;
    margin-top: 8rem;
    max-width: 71rem;
  }

  #research1, #research2, #research3, #research4, #research5, #research6{
    background-color: #2a2a2a;
    /* border-radius: 150px; */
    min-width: 16rem;
    max-width: 17rem;
    min-height: 16rem;
    max-height: 25rem;
    padding: 1.5rem;
  }

  .percent{
    font-size: 4rem;
  }

  .stats{
    font-size: 1.8rem;
    max-height: 6rem;
  }

  h2.results{
    font-size: 3.5rem;
    font-weight: bold;
  }

  div#research1{
    grid-column: 3/5;
  }

  div#research2{
    grid-column: 6/8;
  }

  div#research3{
    grid-row: 1/2;
    grid-column: 9/11;
  }

  div#research4{
    grid-row-start: 3;
    grid-column: 3/5;
  }

  div#research5{
    grid-row-start: 3;
    grid-column: 6/8;
  }

  div#research6{
    grid-row-start: 3;
    grid-column: 9/11
  }





  .user-personas-lily-robert img{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 20rem;
    width: 35%;
  }

  h2.h2-user-personas{
    font-size: 4rem;
  }

  h3.h3-user-personas, h3.h3-user-personas-title{
    font-size: 3rem;
  }

  .p-user-personas-bio{
    font-size: 1.8rem;
    text-align: center;
  }

  .p-user-personas{
    display: block;
    font-size: 1.8rem;
    margin: 1rem auto;
  }


  /* table.mobile-strengths-weaknesses, h3.mobile-strengths-weaknesses{
    display: none;
  }

  .strengths-weaknesses{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .strengths-weaknesses h3{
    color: #8B8100;
    font-size: 4rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  .strengths-weaknesses p{
    color: #6C6C6C;
    font-family: "Tajawal";
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.1rem;
    text-align: center;
  }

  .strengths-weaknesses td{
    padding: .5rem;
  } */

  #wireframes-and-usability-tests h3{
    margin-left: 12.5%;
  }

  /* .trunk-mockups{
    display: none;
  } */

  img.trunk-mockups{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
    max-width: 60rem;
    width: 100%;
  }

  /* img.sketches, img.bw-trunk-logo, img.bw-trunk-logo2,   .trunk-logos img, .styleguide img{
    margin: 4rem 25% auto 25%;
   width: 50%; */

  /* img.sketches{
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    max-width: 30rem;
    width: 50%;
  } */


  /* .trunk-logos{
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-template-rows: .95fr .95fr 1fr 1fr;
    margin: 5rem auto 5rem auto;
    max-width: 60rem;
    width: 100%;
  }

  .trunk-logos img{
    margin: 0rem;
    width: 100%;
  }

  img.sketches{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/8;
  }

  .bw-trunk-logo{
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .bw-trunk-logo2{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  img.white-trunk-logos{
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
  }

  img.black-trunk-logos{
    display: grid;
    grid-column: 2/3;
    grid-row: 4/5;
    margin-top: 3%;
    /* margin: 0rem; */
  */

  /* .trunk-logos img{
    margin-bottom: 3rem;
  } */

  .original-file, .original-folder{
    margin: 4rem 12.5%;
    width: 75%;
  }

  .about-wrapper{
    height: 80rem;
  }

  img.mobile-about-me-photo{
    width: 80%;
    max-width: 50rem;
  }

  .hero-about button{
    margin-left: 2.5rem;
  }

  .hero-about-wrapper{
    margin-top: 3rem;
  }

  .hero-about-wrapper h1, .about-name{
    font-size: 4.5rem;
  }

  .competitor-icons{
    padding-left: 25%;
    padding-right: 25%;
  }

  .google-drive, .dropbox{
    height: 30%;
    max-width: 12rem;
    width: 30%;
  }
}



/* @media screen and (min-width: 680px){

  .navigation p{
    font-size: 2rem;
    margin-top: 2.5rem;
  }

  .about, .projects{
    margin-right: 2rem;
  }

  .resume{
    margin-right: 1.5rem;
  }

  .connect{
    margin-right: 2rem;
  }

  .personal-logo {
    margin-left: 2rem;
    margin-top: .5rem;
  }

  .personal-logo img{
    margin-bottom: 2.6rem;
    margin-top: 1.5rem;
    width: 4rem;
  }

  #footer-connect h2{
    font-size: 5rem;
  }

  .hero {
    padding: 0rem 10% 15% 10%;
    height: 50rem;
  }

  .hero h3{
    padding-top: 10rem;
  }

  .hero p{
    width: 60%;
  }

  .bounce{
    margin-top: -2rem;
  }

  #branding img{
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
  }

  img.trunk-style-guide {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }

  .prototype-button {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
  }

  .trunk h2{
    font-size: 7rem;
  }

  .trunk h3{
    font-size: 2.7rem;
  }

  .trunk, .trunk-image{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
  }

  .hero-about{
    padding-top: 15rem;
  }


  .about-wrapper{
    height: 40rem;
  }

  .hero-about h1{
    font-size: 6rem;
    margin-left: 3rem;
    margin-top: -3rem;
  }

  .hero-about a{
    font-size: 2.5rem;
  }

  .hoverbox img{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
  }

  .hoverbox-text p{
    font-size: 3.4rem;
    line-height: 4rem;
  }

  .case-study-button{
    border: #B6ECF8 solid 3px;
    border-radius: 20px;
    margin: 1rem 15% 2rem 15%;
    transition: background .5s ease-in-out;
    width: 70%;
  }

  .case-study-button h2{
    color: #B6ECF8;
    font-size: 1.7rem;
    font-weight: bold;
  }

  .case-study-button:hover{
    background-color: #B6ECF8;
    border-radius: 20px;
    margin: 1rem auto 2rem auto;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: background .5s ease-in-out;
    width: 100%;


  }

  .case-study-button h2:hover{
    color: #2a2a2a;
    font-weight: bold;
  }

  .strengths-weaknesses h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  .strengths-weaknesses p{
    line-height: 2.1rem;
    font-size: 2rem;
  }

  .strengths-weaknesses td{
    padding: 1rem;
  }

  #user-personas {
    clear: both;
  }
} */





@media screen and (min-width: 768px){

  h1{
    font-size: 5rem;
    margin: 6rem 12.5% 2rem 12.5%;
  }

  h2 {
    font-size: 3.5rem;
    margin: 6rem 12.5% 2rem 12.5%;
  }

  h3 {
    font-size: 4rem;
    margin: auto 12.5%;
  }

  h4{
    margin: auto 12.5%;
  }

  p {
    font-size: 1.8rem;
    line-height: 170%;
    margin: auto 12.5%;
  }

  ul{
    margin-left: 16rem;
    width: 70%;
  }

  ul p{
    font-size: 2.2rem;
    line-height: 2.3rem;
    margin-left: 1%;
    margin-bottom: 1rem;
  }

  #footer-connect h2{
    font-size: 5rem;
  }

  .linkedin, .twitter, .email, .github {
    width: 4rem;
}


  img.trunk-pic{
    display: flex;
    justify-content: center;
    max-width: 60rem;
    margin: 8rem auto;
    width: 80%;

  }

  .summary{
    padding-top: 5rem;
  }

 h2.h2-mobile{
   padding-top: 5%;
 }

 .grid{
   max-width: 85rem;
   margin: auto;
   margin-top: 8rem;
 }

 /* .percent{
   font-size: 4.5rem;
 }

 .stats{
   font-size: 2rem;
 } */

 .user-flows-image {
    margin: 5rem auto;
    max-width: 52rem;
    width: 80%;
}

 .trunk-mockups{
   display: flex;
   justify-content: center;
   margin: 3rem auto 5rem auto;
   width: 90%;
 }

 img.mobile-trunk-mockups{
   display: none;
 }

  .hero-wrapper {
    height: 55rem;
  }

  .about-wrapper{
    height: 87rem;
  }

  .mobile-about-me-photo{
    display: none;
  }

  .hero-about-wrapper{
    margin-top: 5rem;
  }

  .hero-about-wrapper h1{
    margin-left: 15rem;
  }

  .hero-about-wrapper h1, .about-name{
    font-size: 5.5rem;
    font-weight: normal;
  }

  img.mobile-about-me-photo{
    display: none;
  }

  .about-me-photo{
    display: flex;
    justify-content: center;
    margin: 6rem auto;
    max-width: 60rem;
    width: 70%;
  }

  .bio-about{
    padding-top: 3rem;
  }

  .bio-about h2{
    font-size: 4rem;
  }

  .bio-about p{
    font-size: 1.8rem;
  }

  .competitor-icons{
    padding-left: 30%;
    padding-right: 30%;
  }

  .google-drive, .dropbox{
    height: 30%;
    max-width: 12rem;
    width: 30%;
  }
}





/* @media screen and (orientation: landscape){

  .hero-wrapper{
    height: 50rem;
  }

  .hero{
    padding: 0rem 10% 15% 10%;
  }

  .hero h3 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
    padding-top: 3rem;
  }

  .hero h1{
    font-size: 3.5rem;
    margin: 1.5rem 0rem 1.5rem 1rem;
    padding-right: 0rem;
  }

  .hero p {
    color: #4C4C4C;
    font-size: 1.6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 8rem;
  }

  .bounce {
    animation: bounce 3s infinite;
    color: #2A2A2A;
    margin-top: -4rem;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
  }

  #featured-project {
  background-color: #2a2a2a;
  margin-bottom: 0rem;
  }

  .mobile-case-study-button{
    margin: 2rem 30%;
    width: 40%;
  }

  .hoverbox {
  	display: inline-block;
    height: auto;
  	overflow: hidden;
    position: relative;
    width: 100%;
  }


  .hoverbox img {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    width: 70%;
  }


  .hero-about {
    height: 50vh;
    padding-bottom: 20rem;
  }

  .hero-about h1{
    padding-top: 1rem;
  }

  .hero-about button{
    margin-bottom: 4rem;

  }

} */




/* @media screen and (min-width: 768px){

  #footer-connect h2{
    font-size: 5rem;
    padding-top: 4rem;
  }

  .hero {
    height: 80vh;
  }

  .hero h3{
    padding-top: 10rem;
  }

  .hero p{
    padding-bottom: 8rem;
    font-size: 2rem;
  }

  .trunk h2{
    font-size: 7rem;
  }

  .trunk h3{
    font-size: 2.9rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .trunk, .trunk-image{
    margin-left: 22.5%;
    margin-right: 22.5%;
    width: 55%;
  }

  .about-wrapper{
    height: 80vh;
  }

  .hero-about{
    padding-bottom: 15rem;
    padding-top: 15rem;
  }

  .hero-about h1{
    color: #634db3;
    font-size: 7rem;
    margin-top: 0rem;
  }


  .hero-about a{
    font-size: 3rem;
  }

  .bounce{
    margin-top: 1rem;
  }

  .hoverbox img{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
  }

  #wireframes-and-usability-tests img{
    margin: 4rem 20%;
    width: 60%;
  }

  .desktop-original-file, .desktop-original-folder{
    margin: 4rem 20%;
    width: 60%;
  }

  .footer-icons {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2rem;
  }

}




@media screen and (min-width: 880px){

  td.stats{
    font-size: 2.3rem;
  }
} */




@media screen and (min-width: 991px){
  h1{
    font-size: 6rem;
    margin: 6rem 20% 4rem 20%;
  }

  h2 {
    font-size: 4rem;
    margin: 6rem 20% 1rem 20%;

  }

  h3 {
    font-size: 4rem;
    margin: auto 20%;
  }

  h4{
    margin: auto 20%;
  }

  p {
    font-size: 2rem;
    margin: auto 20%;
  }

  ul{
    margin-left: 25%;
    width: 70%;
  }

  ul p{
    font-size: 2.3rem;
  }

  .navigation p{
    font-size: 1.8rem;
    margin-top: 3rem;
  }

  .navigation a{
    padding: .5rem;
  }

  .personal-logo img{
    margin-bottom: 2.7rem;
    margin-top: 1.2rem;
    width: 3.8rem;
  }

  .connect{
    margin-right: 4rem;
  }

  .footer-icons {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 2rem;
  }

  #footer-connect h2{
    font-size: 6rem;
    padding-top: 4rem;
  }

  .linkedin, .twitter, .email, .github {
    width: 4rem;
  }

  section.trunk-title h1{
    font-size: 7rem;
  }

  .hero-wrapper{
    height: 65rem;
  }

  .hero {
    padding-bottom: 8rem;
  }

  .hero h3 {
    font-size: 4rem;
    padding-top: 10%;
  }

  .hero h1{
    font-size: 6.5rem;
    margin: 3rem 1rem;
  }

  .hero p{
    font-size: 2.5rem;
    padding-bottom: 2rem;
    max-width: 67rem;
    width: 80%;
  }

  .bounce {
    margin-top: 4rem;
  }

  /* Home page trunk overlay */

  h2.h2-mobile, p.p-mobile, .mobile-case-study-button{
    display: none;
  }

  .hoverbox:hover .hoverbox-layer-bottom{
    transform: translatex(21vw);
    transition: all 1s ease;
  }

  .hoverbox:hover .hoverbox-layer-top{
    transform: translateX(-21vw);
    transition: all 1s ease;
  }

  .hoverbox-text h2{
    color: #766FC8;
    display: block;
    font-family: "Tajawal";
    font-size: 6rem;
    letter-spacing: .2rem;
    padding-top: 8%;
    margin: 0rem;
    text-align: center;
    width: 100%;
  }

  .hoverbox-text p{
    color: #fff;
    display: flex;
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: lighter;
    justify-content: center;
    letter-spacing: .2rem;
    line-height: 3rem;
    margin: 3rem auto;
    padding-bottom: 1rem;
    text-align: center;
    width: 80%;
  }

  .h2-desktop {
    font-family: "Tajawal";
  }

  .my-work{
    color: #B6ECF8;
    display: inline-block;
    font-family: "Tajawal";
    font-size: 7rem;
    font-weight:lighter;
    letter-spacing: .2rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    margin: 0rem;
    text-align: center;
    width: 100%;
  }

  .case-study-button{
    background: #2a2a2a;
    border: #B6ECF8 solid 1px;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin: 1rem auto 2rem auto;
    max-width: 20rem;
    width: 100%;
  }

  .case-study-button h2{
    color: #B6ECF8;
    font-family:"Tajawal";
    font-size: 1.6rem;
    letter-spacing: .2rem;
    padding: 1.5rem 0rem 1rem 0rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  .case-study-button h2:hover{
    color: #2a2a2a;
    font-weight: bold;
  }

  .case-study-button:hover{
    background-color: #B6ECF8;
    transition: background 1s ease;
  }

  .prototype-button:hover{
    border-color: #fff;
    background-color: #2a2a2a;
  }

  .prototype-button h2:hover{
    color: #E0625E;
  }
  .summary .prototype-button h2{
    font-size: 2rem;
  }


  .hoverbox,
  .hoverbox * {
  	box-sizing: border-box;
  }

  .hoverbox {
  	display: inline-block;
    height: auto;
  	overflow: hidden;
    position: relative;
  	width: 100%;
  }

  .hoverbox img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    width: 80%;
  }

  .hoverbox .hoverbox-layer-bottom {
  	display: block;
    transition: all 1s ease;
  }

  .hoverbox .hoverbox-layer-top {
    color: #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    opacity: 0;
    padding: 15px;
  	position: absolute;
    right: 0;
  	top: 0;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
  	width: 100vw;
  }

  .hoverbox:hover .hoverbox-layer-top,
  .hoverbox.active .hoverbox-layer-top {
  	opacity: 1;
  }

  .hoverbox .hoverbox-text {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-moz-transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  }


  /* End home page trunk overlay */

  .case-study-wrapper{
    /* background-image: url("../images/trunk-background.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover; */
  }

  .trunk-pic {
      display: flex;
      justify-content: center;
      margin: 3rem auto 3rem auto;
      max-width: 70rem;
      width: 100%;
  }

  #trunk-summary {
      padding: 2rem 10% 2% 10%;
      width: 100%;
    }

  .trunk-title h2{
    font-size: 4rem;
    margin-top: 2rem;
  }

  .tablet-strengths-weaknesses, .mobile-strengths-weaknesses{
    display: none;
  }

  table.strengths-weaknesses{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  h2.results{
    margin-left: 20%;
    margin-right: 20%;
  }

  .user-flows-image {
     margin: 5rem auto;
     max-width: 60rem;
     width: 80%;
 }

  .user-personas-lily-robert{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 3fr 2fr;
    grid-auto-rows: 1fr 1fr;
  }

  .user-personas-lily-robert img{
    display: flex;
    justify-content: center;
    margin: auto;
    /* grid-column: 2/5; */
    max-width: 15rem;
    min-width: 10rem;
    width: 40%;
  }

  .user-persona-robert{
    grid-column: 2/3;
    grid-row: 1/2;
    /* max-width: 30rem; */
  }

  .user-persona-lily{
    grid-column: 4/5;
    grid-row: 1/2;
    /* max-width: 30rem; */
  }

  h2.h2-user-personas{
    display: block;
    font-size: 3.5rem;
    margin: 4rem auto 0rem auto;
    text-align: center;
  }

  h3.h3-user-personas{
    display: block;
    font-size: 2.5rem;
    margin: 3rem auto 1rem auto;
    text-align: left;
  }

  h3.h3-user-personas-title{
    display: block;
    font-size: 2.5rem;
    margin: 1rem auto 0rem auto;
    text-align: center;
  }

  .p-user-personas-bio{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .p-user-personas{
    display: block;
    font-size: 1.7rem;
    margin: 1rem auto;
  }

  .strengths-weaknesses h3{
    font-size: 5rem;
    margin: 3rem 1rem 1rem 1rem;
  }

  table.strengths-weaknesses p{
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  table.strengths-weaknesses td{
    margin: 10rem;
  }

  td.strengths-left{
    padding: 1rem 0rem 0rem 5rem;
  }

  td.strengths-right{
    padding-left: 0rem;
    padding-right: 5rem
  }

  table.usability-table{
    margin-right: 20%;
    width: auto;
  }

  #wireframes-and-usability-tests img{
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
  }

  #wireframes-and-usability-tests h3{
    margin-left: 20%;
  }

  /* .wireframe-images{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
    grid-auto-rows: 1fr;
  }

  #wireframes-and-usability-tests .wireframe-sketches{
    grid-column: 2/3;
    margin: 0rem;
    width: 100%;
  }

  #wireframes-and-usability-tests .wireframes2{
    grid-column: 4/5;
    margin: 0rem;
    width: 100%;
  } */


.wireframe-images{
  display: grid;
  /* display: flex; */
  grid-template-columns: 1fr 18fr 1fr 14fr 1fr;
  grid-template-rows: 1fr 20fr 1fr;
  /* justify-content: center; */
  margin: 5rem auto;
  max-width: 70rem;
  width: 100%;
}

  #wireframes-and-usability-tests .wireframe-sketches{
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: center;
    margin: 0rem auto;
    max-width: 130rem;
    width: 100%;
  }

  #wireframes-and-usability-tests .wireframes2{
    display: flex;
    grid-column: 4/5;
    grid-row: 1/4;
    justify-content: center;
    margin: 0rem auto;
    width: 100%;
  }
  #wireframes-and-usability-tests .wireframes1{
    display: none;
  }

  img.original-file, img.original-folder{
    margin: 5rem auto;
    max-width: 75rem;
    width: 80%;
  }

  .competitor-icons{
    padding-left: 35%;
    padding-right: 35%;
  }

  .google-drive, .dropbox{
    height: 30%;
    max-width: 12rem;
    width: 30%;
  }

  table.stats-table{
    display: flex;
    justify-content: center;
    margin: 2rem 35% 2rem 20%;
  }

  td.usability-percent{
    font-size: 5rem;
  }

  img.trunk-mockups{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
    max-width: 90rem;
    width: 90%;
  }

  .styleguide{
  display: grid;
  grid-template-columns: 10fr 1fr 10fr;
  grid-template-rows: 1fr 3fr 1fr;
  margin: 3rem auto;
  max-width: 85rem;
  width: 80%;
 }

  img.trunk-typography{
    margin: 0rem;
    grid-column: 1/2;
    grid-row: 1/4;
    width: 100%;
  }

  img.trunk-colors{
    grid-column: 3/4;
    grid-row: 2/3;
    margin: 0rem;
    width: 100%;
  }

  .trunk{
    float: left;
    margin-left: 15%;
    margin-right: 1rem;
    width: 30%;
  }

  .trunk-image {
    float: right;
    margin-left: 1rem;
    margin-right: 15%;
    margin-top: 3rem;
    width: 30%;
  }

  .trunk h2{
    font-size: 7rem;
  }

  .trunk h3{
    font-size: 3rem;
    width: 90%;
  }

  #featured-project h1{
    font-size: 7rem;
  }

  .designed h4{
    font-size: 2rem;
  }

  footer {
    clear: both;
  }


.hero-about-wrapper{
  display: grid;
  grid-template-columns: 6fr 1fr 10fr;
  grid-template-rows: 1fr 1fr 3fr;
  margin: 10rem auto 5rem auto;
  max-width: 100rem;
  width: 80%;
}

.hero-about-wrapper .hero-about-hey{
  font-size: 4rem;
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0rem;
  padding-top: 0rem;
}

.hero-about-h1, .about-name{
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 0rem;
}
/*
 .hero-about-wrapper{
  height: 60rem;
  } */

  .hero-about-wrapper h1{
    margin: 0rem;
    text-align: left;
  }

.about-me-photo{
  grid-column: 3/4;
  grid-row: 1/4;
  margin: 0rem;
  max-width: 50rem;
  width: 100%;
}


/*
  .hero-about h1{
    font-size: 7rem;
    margin-left: 30rem;
    margin-top: 10rem;
  }

  .hero-about-wrapper h1, .about-name{
    font-size: 6rem;
    margin-bottom: 1rem;
  }

  .hero-about-wrapper h1{
    margin-left: 17%;

  } */
/*
  img.about-me-photo{
    margin-top: 2rem;
    max-width: 70rem;
  } */

  .hero-about a{
    color: #fff;
    font-family: "Tajawal";
    font-size: 3.2rem;
  }

  .bio-about h2{
    font-size: 4.5rem;
  }

  .bio-about p{
    font-size: 2.2rem;
  }

  .hero-about{
    padding-bottom: 23rem;
    padding-top: 5rem;
  }

  .hoverbox img{
    margin: 2rem auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

}




/* @media screen and (min-width: 1150px){
  .personal-logo{
    margin-top: .7rem;
  }

  .hero p{
    padding-bottom: 8rem;
  }

  .user-flows-image{
    max-width: 60rem;
    width: 80%;
  }

  td.percent{
    font-size: 4rem;
    padding-left: 0rem;
  }

  td.stats{
    font-size: 2.5rem;
  }

  .results{
   margin-left: 0rem;
  }

  .hoverbox img{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .bounce{
    margin-top: -1rem;
  }

  .hero-wrapper{
    height: 65rem;
  }

  .hero-about h1{
    font-size: 7rem;
    margin-left: 12rem;
    margin-top: 10rem;
  }

} */


@media screen and (min-width: 1300px){
  .hero-wrapper{
    height: 70rem;
  }

  .hero h3{
    font-size: 3.5rem;
  }

  .hero h1{
    font-size: 7.5rem;
  }

  .hero p{
    font-size: 2.2rem;
    padding-bottom: 8rem;
    width: 70%;
  }

  .bounce{
    margin-top: -3rem;
  }

  .trunk-image {
    margin-right: 20%;
    margin-top: 2rem;
    width: 25%;
  }

  .trunk{
    margin-left: 20%;
    width: 25%;
  }

  .footer-icons {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 1rem;
  }

  #footer-connect{
    padding-top: .5rem;
  }

  .about-wrapper{
    height: 60rem;
  }
/*
  img.about-me-photo{
    max-width: 80rem;
  } */

  .hero-about h1{
    font-size: 8rem;
    margin-left: 15rem;
    margin-top: 13rem;
  }
}



/* @media screen and (min-width: 1500px){
  .bounce{
    margin-top: 6rem;
  }

  .about-wrapper{
    height: 70rem;
  }

  .hero-about h1{
    font-size: 10rem;
    margin-left: 15rem;
    margin-top: 10rem;
  }

  .hero-about{
    padding-top: 10rem;
  }
} */



/* @media screen and (min-width: 1900px){
  p{
    font-size: 2.5rem;
    margin: auto 25%;
  }

  h2{
    font-size: 4.5rem;
    margin: 7rem 25% 1rem 25%;
  }

  .prototype-button {
    margin-left: 45%;
    margin-right: 45%;
    width: 10%;
  }

  .about-wrapper{
    height: 70rem;
  }

  .hero-wrapper{
    height: 80rem;
  }

  .hero-about h1{
    font-size: 9rem;
    margin-left: 30rem;
    margin-top: 10rem;
  }

} */


/* @media screen and (min-width: 2500px){ */
  /* .navbar {
    height: 11rem;
  }

  .personal-logo img{
    width: 5rem;
  }

  .navigation a{
    font-size: 3.5rem;
  }

  .navigation p{
    margin-top: 3rem;
  }

  .hero {
    height: 50vh;
  }

  .hoverbox-text h2{
    font-size: 12rem;
    letter-spacing: .5rem;
    padding-bottom: 3rem;
    margin: 0rem;
    text-align: center;
    width: 100%;
  }

  .hoverbox-text p{
    font-size: 6rem;
    padding-bottom: 5rem;
  }

  .case-study-button h2{
    font-size: 4rem;
    font-weight: bold;
    padding: 1.5rem;
  }

  .trunk-pic {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
  }

  p {
    font-size: 2.7rem;
    margin: auto 30%;
  }

  h2 {
    margin: 5rem 30% 1rem 30%;
  }

  .prototype-button {
    display: flex;
    justify-content: center;
    margin: 8rem auto;
    opacity: 1;
    width: 30rem;
  }

  table.stats-table {
    display: flex;
    justify-content: center;
  }

  h2.results{
    margin-left: 30%;
  }

  #wireframes-and-usability-tests h3{
    font-size: 3.5rem;
    margin: 8rem 30%;
  }

  #wireframes-and-usability-tests img{
    margin: auto 35%;
    width: 30%;
  }

  .original-file, .original-folder{
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
  }

  #branding {
    margin-top: 10rem;
  }

  img.sketches, img.bw-trunk-logo{
    margin: 2rem 40%;
    width: 20%;
  }

  img.trunk-colors{
    margin: 2rem 35%;
    width: 30%;
  }

  .about-wrapper{
    height: 60vh;
  }

  .hero-about h1{
    font-size: 10rem;
    margin-left: 30rem;
    margin-top: 10rem;
  }

  .footer-icons {
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 1rem;
  }
} */
