* {
  box-sizing: border-box;
}
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
}

@font-face {
  font-family: "ChampagneLimousines";
  src: url("ChampagneLimousines.ttf");
}

@font-face {
  font-family:"MadeleinaSans", Trebuchet, Garamond, sans-serif;
  src: url("MadeleinaSans.ttf");
}

@font-face {
  font-family: "WellrockSlab", Georgia, serif;
  src: url("WellrockSlab.ttf");
}

@font-face{
  font-family: "Timeless", Georgia, serif;
  src: url("timeless.ttf")
}

h1{
  color: #766FC8;
  font-family: "ChampagneLimousines", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  margin: 4rem 10% 1rem 10%;
  text-align: left;
}

h2 {
  color: #1F1F1F;
  font-family:"ChampagneLimousines", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  margin: 5rem 10% 1.5rem 10%;
}

h3 {
  font-family: "MadeleinaSans", Trebuchet, Garamond, sans-serif;
  font-size: 3rem;
  margin: auto 10%;
}

h4{
  margin: auto 10%;
}

p {
  color: #2a2a2a;
  font-family: "Timeless", Georgia, serif;
  font-size: 1.7rem;
  font-weight: lighter;
  line-height: 170%;
  margin: auto 10%;
}

a {
  color: #5a52b3;
  font-family: "Timeless", Georgia, serif;
  font-weight: bold;
  text-decoration: none;
}

br {
  line-height: .2rem;
}

/*  Nav Bar */

.navbar{
  background-color: #EDE8E5;
  background-size: cover;
  height: 8.4rem;
  margin-left: 0px;
  margin-right: 0px;
}

.navigation{
  display: inline-flex;
  float: right;
}

.navigation p{
  font-size: 1.7rem;
  margin-left: 0rem;
  margin-top: 2.6rem;
  text-align: right;
}

.navigation a{
  color: #494486;
  text-decoration: none;
  font-family: "ChampagneLimousines";
}

.navigation a:hover{
  color: #E0625E;
  transition: color .3s ease;
}

.about{
  margin-right: 1rem;
  margin-left: 0rem;
  padding-left: 0rem;
}

.projects{
  margin-right: 1rem;
}

.resume{
  margin-right: 1rem;
}

.connect a{
  margin-right: 2rem;
  transition: color 1.2s ease;
}

.personal-logo{
  margin-left: 1rem;
  width: 3rem;
  position: absolute;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}



footer{
  /* background-image: url("../images/mobile-footer-background.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #D5CECA;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  margin: 2rem 15%;
}

#footer-connect h2{
  color: #8B8100;
  font-family: "ChampagneLimousines";
  font-size: 3.7rem;
  letter-spacing: .2rem;
  padding-top: 10%;
  text-align: center;
  margin-top: 0rem;
}


.linkedin, .twitter, .email, .github {
  width: 3rem;
}

.designed h4{
  color: #2a2a2a;
  font-family: "ChampagneLimousines";
  font-size: 1.3rem;
  letter-spacing: .1rem;
  padding-bottom: 4%;
  text-align: center;
}







/* Home Page */

.hero{
  background-image: url("../images/home-background-coffee.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  padding: 0rem 10% 15% 5%;
  /* margin-bottom: 1rem; */
  width: 100%;
}

.hero h3 {
  color: #8B8100;
  font-family: "ChampagneLimousines";
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: .3rem;
  margin-left: 1rem;
  margin-bottom: .5rem;
  padding-top: 10vh;
  text-transform: uppercase;
}

.hero h1{
  color: #494486;
  font-weight: bold;
  letter-spacing: .3rem;
  margin: 3rem 0rem 3rem 1rem;
  padding-right: 0rem;
  font-size: 3.5rem;
}

.hero p {
  color: #2a2a2a;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 8rem;
  font-size: 1.6rem;
}


/* Bouncing Arrow */

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 3s infinite;
  margin-left: 50%;
  margin-top: -4rem;
  color: #2A2A2A;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
/* End Bouncing Arrow */




#featured-project {
background-color: #2a2a2a;
margin-bottom: 0rem;
}



/* Home page trunk overlay */

.h2-desktop, .p-desktop, .case-study-button{
  display: none;
}

h2.h2-mobile{
  color: #B6ECF8;
  font-family: "ChampagneLimousines";
  font-size: 6rem;
  letter-spacing: .2rem;
  padding-top: 10%;
  padding-bottom: 5%;
  margin: 0rem;
  text-align: center;
  font-weight: normal;
  width: 100%;
}


.hoverbox-text p{
  color: #fff;
  font-family: "MadeleinaSans";
  font-size: 2.7rem;
  letter-spacing: .2rem;
  text-align: center;
  margin: 1.5rem 0rem;
  line-height: 3rem;
  padding-bottom: 1rem;
  width: 100%;
}

.mobile-case-study-button{
  background: #fff;
  border: #E0625E solid 3px;
  border-radius: 20px;
  border-radius: 20px;
  margin: 2rem 25%;
  width: 50%;
}

.mobile-case-study-button h2{
  color: #E0625E;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  margin: 0rem;
}

.hoverbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 100%;
	height: auto;
}

.hoverbox img {
	width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3rem;
  padding-bottom: 3rem;
}


/* End home page trunk overlay */







/* End Home Page */




/* Case Study */




.trunk-summary {
    background-image: url("../images/home-background-coffee.jpg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 10% 2% 10%;
    width: 100%;
  }


.trunk-pic {
    width: 90%;
    margin: 3rem 5%;
  }


section.trunk-title h1{
  color: #8B8100;
  font-size: 6rem;
  margin: 0rem auto 1rem auto;
  padding-top: 5rem;
  text-align: center;
}

section.trunk-title h2{
  color: #2A2A2A;
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
}

.prototype-button{
  background: #2a2a2a;
  border-color: #B6ECF8;
  border-radius: 20px;
  border-width: thin;
  border-style: solid;
  margin: 5rem auto 2rem auto;
  width: 50%;
}


.summary .prototype-button h2{
  color: #B6ECF8;
  font-size: 2rem;
  letter-spacing: .1rem;
  text-decoration: none;
  text-align: center;
  padding: 1rem 2rem;
  margin: 0rem;
}

.mockups .prototype-button h2{
  color: #B6ECF8;
  font-size: 2rem;
  letter-spacing: .1rem;
  text-decoration: none;
  text-align: center;
  padding: 1rem 2rem;
  margin: 0rem;
}

.prototype-button h2:hover{
  color: #2a2a2a;
  font-weight: bold;
  background-color: #B6ECF8;
  border-radius: 20px;
  transition: background 1.5s ease-in-out;

}

.summary {
  background-color: #2a2a2a;
}

.summary p {
  color: #fff;
  font-weight: 100;
}

.summary a{
  color:#766FC8;
}

.summary h1{
  clear: right;
  text-align: center;
  padding-top: 3rem;
  margin-top: 0rem;
}

.summary h2{
  color: #B6ECF8;
  margin-top: 5rem;
}



section.solution p{
  padding-bottom: 5rem;
}

.process h1{
  text-align: center;
}


table{
  display: flex;
  margin: 2rem 20% 2rem 20%;
  width: 60%;
}

td{
  padding: 1rem;
  vertical-align: middle;
}

.percent {
  color: #8B8100;
  font-family: "ChampagneLimousines";
  font-size: 4rem;
}

.stats{
  color: #6C6C6C;
  font-family: "ChampagneLimousines";
  font-size: 1.8rem;
  font-weight: bold;
}

.competitive p{
  margin-bottom: 4rem;
}

.competitive2 p{
  float: left;
}

.user-personas h2{
  display:inline-flex;
}

.wireframes-and-usability-tests h3{
  color: #8B8100;
  font-family:"ChampagneLimousines";
  font-size: 2rem;
  font-weight: bold;
  margin: 4rem 2.2rem 2rem 2.2rem;
}

.wireframes-and-usability-tests img{
  margin-left: 12.5%;
  margin-right: 12.5%;
  width: 75%;
}

.branding img{
  margin: 4rem 17.5% auto 17.5%;
  width: 65%;
}

.bw-trunk-logo img{
  margin: auto 25% auto 25%;
  width: 50%;
}

.trunk-logos img{
  margin: 3rem 17.5% 0rem 17.5%;
}

img.white-trunk-logos{
  margin-top: 5rem;
}

.mockups p{
  margin-bottom: 5rem;
}

.conclusion {
  margin-bottom: 10rem;
}

/* End Case Study */



/*  About Me */

.hero-about{
    background-image: url("../images/about-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin-bottom: 4rem;
    padding: 0rem 10% 15% 5%;
    width: 100%;
  }
}



hr {
  width: 17rem;
  float: left;
  margin-top: auto;
  margin-left: 8%;
}

.hero-about{
  padding-bottom: 15rem;
  padding-top: 11rem;
  margin-bottom: 5rem;
}

.hero-about h1{
  color: #494486;
  margin-top: 0rem;
  font-size: 5rem;
}

.hero-about button {
  background-color: #8B8100;
  border-radius: 20px;
  border: none;
  padding: 1rem 2rem;
  margin-top: 2rem;
  margin-left: 3rem;

}

.hero-about a{
  color: #fff;
  font-family: "MadeleinaSans";
  font-size: 2rem;
  letter-spacing: .12rem;
  font-weight: normal;

}

.hero-about button:hover{
  color: #FFF;
  background-color: #E0625E;
  transition: background 1.5s ease;
}

.bio-about {
  /* line-height: 3rem; */
}

.bio-about h2{
  color: #494486;
  font-size: 3.2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.bio-about p{
  font-size: 1.6rem;
  margin-bottom: 0rem;
}







@media screen and (min-width: 400px){

  /* .personal-logo {
    margin-left: 4rem;
  }
  .personal-logo img {
    width: 3.2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  } */

  .hero h3{
    padding-top: 12rem;
  }

  .connect a{
    color: #fff;
    margin-right: 2rem;
    background-color: #494486;
    border-radius: 5px;
    padding: 5px;
    line-height: 2rem;
  }

  .connect a:hover{
    background-color: #E0625E;
    color: #fff;
    transition: background .5s ease;
  }

  .trunk-pic {
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
    }

}








@media screen and (min-width: 480px){

  .personal-logo img{
    width: 3.3rem;
    margin-top: 2rem;
  }

  .navigation p{
    margin-top: 2.5rem;
  }

  .connect{
    margin-right: 2rem;
  }

  .footer-icons {
    margin-left: 25%;
    margin-right: 25%;
  }

  #footer-connect h2{
    font-size: 4rem;
  }


  .linkedin, .twitter, .email, .github {
    width: 3rem;
  }


  .hero h3 {
    font-size: 3rem;
  }

  .hero h1{
    font-size: 5rem;
  }

  .bounce{
    margin-top: -2rem;
  }

  h2.h2-mobile{
    font-size: 6.5rem;
  }


  .hoverbox-text p{
    font-size: 2.7rem;
    width: 100%;
  }

  .mobile-case-study-button{
    border-radius: 20px;
    margin: 2rem 25%;
    width: 50%;
  }

  .mobile-case-study-button h2{
    font-size: 2rem;
    padding: 1rem;
  }

  .hoverbox img {
  	width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .prototype-button h2{
    font-size: 2.6rem;
    padding: 2rem;
  }

  td.percent{
    font-size: 3rem;
  }

  td.stats{
    font-size: 1.7rem;
  }

  .wireframes-and-usability-tests h3{
    font-size: 2.5rem;
    margin: 7rem 5rem 5rem 5rem;
  }

  .wireframes-and-usability-tests img{
    margin-left: 17.5%;
    margin-right: 17.5%;
    width: 65%;
  }

  .trunk h3{
    font-size: 2.8rem;
  }

  .trunk, .trunk-image{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .hero-about button{
    margin-left: 15%;
  }

  .hero-about h1{
    margin-left: 2.5rem;
  }

  .hero-about button {
    margin-left: 2rem
  }

}




@media screen and (min-width: 580px){


  h1{
    font-size: 5rem;
    margin: 6rem 12.5% 1rem 12.5%;
  }

  h2 {
    font-size: 3.5rem;
    margin: 6rem 12.5% 1rem 12.5%;

  }

  h3 {
    font-size: 4rem;
    margin: auto 12.5%;
  }

  h4{
    margin: auto 12.5%;
  }

  p {
    font-size: 2rem;
    margin: auto 12.5%;
  }

  .navigation p{
    font-size: 2.1rem;
    margin-top: 2.3rem;
  }

  .personal-logo img{
  margin-top: 2rem;
  margin-bottom: 2.7rem;
  width: 3.8rem;
  }

  .connect{
    margin-right: 2rem;
  }

  .linkedin, .twitter, .email, .github {
    width: 3.5rem;
  }

  .trunk-summary h2{
    margin-top: 7rem;
  }

  section.trunk-title h1{
    font-size: 6rem;
  }

  .trunk-title h2{
    font-size: 3rem;
    margin-top: 2rem;
  }

  td.stats{
    font-size: 2.2rem;
  }

  .trunk-pic {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .hero h3{
    font-size: 3.5rem;
    padding-top: 7rem;
  }

  .hero h1{
    font-size: 5rem;
  }

  .hero p{
    width: 80%;
    font-size: 1.7rem;
  }

  h2.h2-mobile{
    font-size: 7rem;
  }

  .mobile-case-study-button{
    margin: 2rem 30%;
    width: 40%;
  }

  .hoverbox img {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }


  .trunk-image, .trunk{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .trunk h2{
    font-size: 6rem;
  }

  .trunk h3{
    font-size: 2.8rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-about button{
    margin-left: 2.5rem;
  }

  .hero-about h1{
    margin-left: 2.5rem;
    font-size: 6rem;
  }
}






@media screen and (min-width: 680px){

  .navigation p{
    font-size: 2rem;
    margin-top: 2.5rem;
  }

  .about, .projects{
    margin-right: 2rem;
  }

  .resume{
    margin-right: 1.5rem;
  }

  .connect{
    margin-right: 2rem;
  }

  .personal-logo {
    margin-left: 2rem;
  }

  .personal-logo img{
  margin-top: 1.5rem;
  margin-bottom: 2.6rem;
  width: 4rem;
  }

  #footer-connect h2{
    font-size: 5rem;
  }

  .hero {
      padding: 0rem 10% 15% 10%;
      height: 80vh;
  }

  .hero h3{
    padding-top: 10rem;
  }

  .hero p{
    width: 60%;
  }

  .bounce{
    margin-top: 2rem;
  }

  .branding img{
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
  }

  img.trunk-style-guide {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

  .prototype-button {
    width: 30%;
    margin-right: 35%;
    margin-left: 35%;
  }

  .trunk h2{
    font-size: 7rem;
  }

  .trunk h3{
    font-size: 2.7rem;
  }

  .trunk, .trunk-image{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .hero-about{
    padding-top: 15rem;
  }

  .hero-about h1{
    font-size: 6rem;
    margin-left: 3rem;
  }

  .hero-about a{
    font-size: 2.5rem;

  }

  .hoverbox img{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .hoverbox-text p{
    font-size: 3.4rem;
    line-height: 4rem;
  }

  .case-study-button{
    background: #fff;
    border: #E0625E solid 3px;
    border-radius: 20px;
    border-radius: 20px;
    margin: 1rem 15% 2rem 15%;
    width: 70%;
  }

  .case-study-button h2{
    font-size: 1.7rem;
  }

  .case-study-button button:hover{
    transition: background 1.5s ease-in-out;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
      margin: 1rem auto 2rem auto;
  }

  .case-study-button h2:hover{
    color: #fff;
    background-color: #E0625E;
    border-radius: 20px;
  }

}





@media screen and (min-width: 768px){
  .hero, .hero-about {
    height: 50vh;
  }
}





@media screen and (orientation: landscape){
  /* Home Page */

  .hero{
    height: 70vh;
    padding: 0rem 10% 15% 5%;
  }

  .hero h3 {
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-bottom: .5rem;
    padding-top: 3rem;
  }

  .hero h1{
    margin: 1.5rem 0rem 1.5rem 1rem;
    padding-right: 0rem;
    font-size: 3.5rem;
  }

  .hero p {
    color: #2a2a2a;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 8rem;
    font-size: 1.6rem;
  }


  /* Bouncing Arrow */

  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 3s infinite;
    margin-left: 50%;
    margin-top: -6rem;
    color: #2A2A2A;
  }



  #featured-project {
  background-color: #2a2a2a;
  margin-bottom: 0rem;
  }



  /* Home page trunk overlay */

  .mobile-case-study-button{
    margin: 2rem 35%;
    width: 30%;
  }

  .hoverbox {
  	position: relative;
  	display: inline-block;
  	overflow: hidden;
  	width: 100%;
  	height: auto;
  }

  .hoverbox img {
  	width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3rem;
    padding-bottom: 3rem;
  }


  /* End home page trunk overlay */

  /* End Home Page */


.hero-about {
  height: 50vh;
  padding-top: 5rem;
  padding-bottom: 20rem;
}

.hero-about h1{
  padding-top: 1rem;
}

.hero-about button{
  margin-bottom: 4rem;

}







}




@media screen and (min-width: 780px){

  #footer-connect h2{
    font-size: 5rem;
    padding-top: 4rem;
  }

  .hero {
    height: 80vh;
  }

  .hero h3{
    padding-top: 10rem;
  }

  .hero p{
    padding-bottom: 8rem;
    font-size: 2rem;
  }


  .trunk h2{
    font-size: 7rem;
  }

  .trunk h3{
    font-size: 2.9rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .trunk, .trunk-image{
    width: 55%;
    margin-left: 22.5%;
    margin-right: 22.5%;
  }

  .hero-about{
    padding-bottom: 15rem;
    padding-top: 15rem;
    margin-bottom: 5rem;
  }

  .hero-about h1{
    color: #494486;
    margin-top: 0rem;
    font-size: 7rem;
  }


  .hero-about a{
    font-size: 3rem;
  }

  .bounce{
    margin-top: 1rem;
    margin-left: 48%;
  }

  .hoverbox img{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .footer-icons {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2rem;
  }


}




@media screen and (min-width: 880px){

  td.stats{
    font-size: 2.3rem;
  }
}




@media screen and (min-width: 991px){
  h1{
    font-size: 6rem;
    margin: 6rem 20% 4rem 20%;
  }

  h2 {
    font-size: 4rem;
    margin: 6rem 20% 1rem 20%;

  }

  h3 {
    font-size: 4rem;
    margin: auto 20%;
  }

  h4{
    margin: auto 20%;
  }

  p {
    font-size: 2rem;
    margin: auto 20%;
  }

  .navigation p{
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .personal-logo img{
  margin-top: 1.2rem;
  margin-bottom: 2.7rem;
  width: 3.8rem;
  }

  .connect{
    margin-right: 4rem;
  }

  .footer-icons {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 2rem;
  }

  #footer-connect h2{
    font-size: 6rem;
    padding-top: 4rem;
  }

  .linkedin, .twitter, .email, .github {
    width: 4rem;
  }


  section.trunk-title h1{
    font-size: 7rem;
  }

  .trunk-pic {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }

  .hero {
    padding-bottom: 8rem;
    height: 80vh;
  }

  .hero h3 {
    font-size: 4rem;
    padding-top: 10%;
  }

  .hero h1{
    font-size: 6.5rem;
    margin: 3rem 1rem;
  }

  .hero p{
    width: 50%;
    padding-bottom: 2rem;
    font-size: 2.2rem;
  }

  .bounce {
    margin-top: -2rem;
    margin-left: 49%;
  }

  /* Home page trunk overlay */

  .h2-mobile, .mobile-case-study-button{
    display: none;
  }

  .hoverbox-text h2{
    color: #766FC8;
    display: block;
    font-family: "ChampagneLimousines";
    font-size: 6rem;
    letter-spacing: .2rem;
    padding-top: 8%;
    margin: 0rem;
    text-align: center;
    width: 100%;
  }

  .hoverbox-text p{
    color: #fff;
    display: block;
    font-family: "MadeleinaSans";
    font-size: 2.7rem;
    letter-spacing: .2rem;
    text-align: center;
    margin: 1.5rem 0rem;
    line-height: 3rem;
    padding-bottom: 1rem;
    width: 100%;
  }

  .case-study-button{
    background: #fff;
    display: block;
    border: #E0625E solid 3px;
    border-radius: 20px;
    border-radius: 20px;
    margin: 1rem auto 2rem auto;
    width: 100%;
  }

  .case-study-button h2{

    color: #E0625E;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    margin: 0rem;
  }

  .case-study-button button:hover{
    transition: background 1.5s ease-in-out;
    width: 100%;
    margin: 1rem auto 2rem auto;
  }

  .case-study-button h2:hover{
    color: #fff;
    background-color: #E0625E;
    border-radius: 20px;
    padding: 1rem;

  }

  .hoverbox,
  .hoverbox * {
  	box-sizing: border-box;
  }

  .hoverbox {
  	position: relative;
  	display: inline-block;
  	overflow: hidden;
  	width: 100%;
  	height: auto;
  }

  .hoverbox img {
  	width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding-bottom: 3rem;
  }

  .hoverbox .hoverbox-layer-bottom {
  	display: block;
  }

  .hoverbox .hoverbox-layer-top {
  	opacity: 0;
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	width: 100vw;
  	height: 100%;
  	background: #2A2A2A;
  	color: #fff;
  	padding: 15px;
  	-moz-transition: all 0.4s ease-in-out 0s;
  	-webkit-transition: all 0.4s ease-in-out 0s;
  	-ms-transition: all 0.4s ease-in-out 0s;
  	transition: all 0.4s ease-in-out 0s;
  }

  .hoverbox:hover .hoverbox-layer-top,
  .hoverbox.active .hoverbox-layer-top {
  	opacity: 1;
  }

  .hoverbox .hoverbox-text {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-moz-transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  }


  /* End home page trunk overlay */



  .trunk-title h2{
    font-size: 4rem;
    margin-top: 2rem;
  }

  .wireframes-and-usability-tests img{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .wireframes-and-usability-tests h3{
    margin: 7rem 30rem 2rem 15rem;
  }

  table{
    display: flex;
    margin: 2rem 30% 2rem 30%;
    width: 40%;
  }

  .branding img{
    width: 30%;
    margin-right: 35%;
    margin-left: 35%;
  }

  img.bw-trunk-logo{
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
  }

  img.trunk-style-guide {
    width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
  }


  .trunk{
    width: 30%;
    float: left;
    margin-left: 15%;
    margin-right: 1rem;
  }

  .trunk-image {
    width: 30%;
    float: right;
    margin-right: 15%;
    margin-top: 3rem;
    margin-left: 1rem;
  }

  .trunk h2{
    font-size: 7rem;
  }

  .trunk h3{
    font-size: 3rem;
    width: 90%;
  }

  #featured-project h1{
    font-size: 7rem;
  }

  .designed h4{
    font-size: 2rem;
  }

  footer {
    clear: both;
  }

  .hero-about{
    padding-top: 20rem;

  }

  .hero-about h1{
    color: #494486;
    margin-top: 15rem;
    font-size: 7rem;
  }

  .hero-about button {
    background-color: #8B8100;
    border-radius: 20px;
    border: none;
    padding: 1rem 2rem;
    margin-top: 2rem;
    margin-left: 3rem

  }

  .hero-about a{
    color: #fff;
    font-family: "MadeleinaSans";
    font-size: 3.2rem;

  }

  .bio-about {
    margin-bottom: 10rem;
  }

  .bio-about h2{
    font-size: 4.5rem;
  }

  .bio-about p{
    font-size: 2.2rem;
  }

  .hero-about{
    padding-bottom: 18rem;
    padding-top: 5rem;
    margin-bottom: 5rem;
  }

  .hoverbox img{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}




@media screen and (min-width: 1150px){

  .hero p{
    /* width: 70%; */
    padding-bottom: 8rem;
  }

  td.percent{
    font-size: 4rem;
  }
  td.stats{
    font-size: 2.5rem;
  }

  .hoverbox img{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

}


@media screen and (min-width: 1300px){
  .hero h3{
    font-size: 5rem;

  }

  .hero h1{
    font-size: 8.5rem;
  }

  .hero p{
    font-size: 3rem;
    width: 60%;
    padding-bottom: 8rem;
  }


  .trunk-image {
    margin-top: 2rem;
    width: 25%;
    margin-right: 20%;
  }

  .trunk{
    width: 25%;
    margin-left: 20%;
  }

  .footer-icons {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 1rem;
  }

  #footer-connect{
    padding-top: .5rem;
  }
}

@media screen and (min-width: 1500px){

}
