.body{
  font-size: 10px;
  margin-left: 19.882rem;
  margin-right: 19.882rem;
  background-color: red;
}

.navbar{

}

.trunk-summary{
  background-image: url("../images/summary-background.png");
  background-repeat: no-repeat;
}

.trunk-title{
  font-family: "Champagne & Limosines";
  font-size: 9rem;
}

.trunk-underline{

}

h1{
  color: 8F8ACD;
  font-size: 7.5rem;
  text-align: right;

}

h4{

}

h2{
  font-size: 6.5 rem;
  font-color: green;
}

p{
  color: #2a2a2a;
  font-size: 2.5rem;
  font-family: "WellrockSlab";
  line-height: 140%;
}

a {
  font-weight: bold;
  color: red;
  text-decoration: none;
}

.prototype-link{
  text-decoration: underline;
  color: purple;
  font-size: 3.5rem;
  letter-spacing: .3rem;
}

.problem p {
  color: #fff
}

.solution p {
  color: #fff
}
